@at-root {
	.about-coverage {
		margin-bottom: 24px;

		.label {
			@include font-size-400;
			color: $color-text-light;
			display: block;
			margin-bottom: 12px;
		}
	}

	.about-coverage-media {
		font-size: 0;
		margin: 0 -4px -4px 0;

		.image {
			display: inline-block;
			font-size: $font-size-500;
			max-width: 140px;
			margin: 0 4px 4px 0;
			vertical-align: middle;
		}
	}
}
