@at-root {
	.account-page-container {}

	.account-page-header {
		border-bottom: 1px solid $color-border;
		margin-bottom: 24px;
		padding-bottom: 8px;

		.title {
			@include font-size-h2;
			font-family: $display;
			font-weight: 400;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		.subtitle {
			@include font-size-400;

			a {
				text-decoration: none;
			}
		}
	}
}

@at-root {
	.account-gateway-container {}

	.account-gateway-header {
		margin-bottom: 24px;

		.title {
			@include font-size-800;
			font-family: $display;
			font-weight: 400;
			margin-bottom: 8px;
			text-transform: uppercase;

			@include breakpoint(crawler) {
				@include font-size-900;
			}
		}

		.item {
			@include font-size-500;

			@include breakpoint(crawler) {
				@include font-size-600;
			}
		}
	}
}

@at-root {
	.account-login {}

	.account-login-forgot {
		margin-top: 8px;
		text-align: center;

		.link {
			@include font-size-400;
			color: $color-text;
		}
	}
}

@at-root {
	.account-section {

		&:not(:last-child) {
			margin-bottom: 48px;
		}
	}

	.account-section-head {
		margin-bottom: 16px;

		.title {
			@include font-size-h5;
			text-transform: uppercase;

			&:not(:last-child) {
				margin-bottom: 4px;
			}

			.link {
				@include font-size-400;
				font-family: $sans-serif;
				font-weight: 400;
				margin-left: 4px;
				text-transform: none;
			}
		}

		.subtitle {
			@include font-size-400;
			color: $color-text-light;
		}
	}
}

@at-root {
	.account-summary {
		display: flex;

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	.account-summary-avatar {
		flex: 0 0 auto;
		margin-right: 16px;
		width: 80px;
	}

	.account-summary-detail {

		.name {
			font-weight: 700;
			margin-bottom: 4px;
		}

		.rating {
			margin-bottom: 4px;
		}

		.link {
			@include font-size-400;
			color: $color-text-light;
		}
	}
}

@at-root {
	.account-nav {
		background-color: $color-100;
		border: 1px solid $color-border;
		border-top: 0;
		display: none;
		padding: 12px 16px;

		@include breakpoint(runner) {
			@include visible;
			background-color: transparent;
			border: 0;
			padding: 0;
		}

		.item {

			&:not(:last-child) {
				margin-bottom: 4px;
			}

			&.item-current {

				.link {
					font-weight: 700;
				}
			}
		}

		.link {
			color: $color-text;
			display: inline-block;
			padding: 4px 0;

			@include breakpoint(runner) {
				@include font-size-600;
			}

			&:hover,
			&:focus {
				color: $color-one-600;
				text-decoration: none;
			}
		}
	}

	.account-nav-toggle {
		border: 1px solid $color-border-dark;
		color: $color-text-light;
		display: block;
		padding: 4px 8px;
		position: relative;
		text-align: center;
		transition: all 0.2s ease;
		width: 100%;

		&:hover,
		&:focus {
			border-color: $color-500;
			color: $color-text;
			text-decoration: none;
		}

		&:before {
			content: "";
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 4px solid $color-border-dark;
			margin-top: -2px;
			position: absolute;
			right: 8px;
			top: 50%;
		}

		&.is-toggling,
		&.is-toggled {

			&:before {
				border-bottom: 4px solid $color-border-dark;
				border-top: 0;
			}
		}

		@include breakpoint(runner) {
			display: none;
		}
	}
}
