@at-root {
  .advertise-page-header {
    display: block;
		text-align: center;
		margin-bottom: 32px;

		.title {
			@include font-size-900;
			font-family: $display;
			font-weight: 400;
			text-transform: uppercase;

			@include breakpoint(crawler) {
				@include font-size-display;
			}

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
  }
}
