@at-root {
	.article-archive-container {}

	.article-archive-header {
		margin-bottom: 24px;

		.title {
			font-weight: 400;
			font-family: $display;
			margin-bottom: 4px;
			text-transform: uppercase;
		}

		.subtitle {
			@include font-size-400;
			color: $color-text-light;

			@include breakpoint(crawler) {
				@include font-size-500;
			}
		}
	}

	.article-archive-footer {
		margin-top: 48px;
	}
}

@at-root {
	.article-search-container {}

	.article-search-header {

		.title {
			@include font-size-h2;

			font-weight: 400;
			margin-bottom: 0;

			.keyword {
				font-weight: 700;
			}
		}
	}

	.article-search-footer {
		margin-top: 32px;
	}
}

@at-root {
	.article-single-container {}

	.article-single-header {
		background-color: $white;
		margin-bottom: 24px;

		&.has-hero {

			@include breakpoint(runner) {
				box-shadow: 0 0 0 24px $white;
				margin-top: -128px;
			}
		}

		.title {
			margin-bottom: 8px;
		}

		.meta {
			@include font-size-400;
			color: $color-text-light;

			a {
				color: $color-text-light;
				font-weight: 700;
			}
		}
	}

	.article-single-content {

		@include breakpoint(jumper) {
			align-items: flex-start;
			display: flex;
		}
	}

	.article-single-footer {
		margin-top: 32px;
	}
}

@at-root {
	.article-submit-container {}

	.article-submit-header {
		display: block;
		margin-bottom: 32px;

		.title {
			font-weight: 400;
			text-transform: uppercase;
			font-family: $display;
			margin-bottom: 8px;
		}
	}
}

@at-root {
	.article-hero {
		background-color: $color-bg-light;
		text-align: center;
	}
}

@at-root {
	.article-arranger {
		@include font-size-400;
		align-items: center;
		border-bottom: 1px solid $color-border;
		margin-bottom: 24px;
		padding-bottom: 16px;

		@include breakpoint(crawler) {
			@include font-size-500;
		}

		@include breakpoint(runner) {
			display: flex;
		}
	}

	.article-arranger-filter {
		align-items: center;
		display: flex;
		flex: 1 1 0;

		.label {
			color: $color-text-light;
			display: none;
			flex: 0 0 auto;
			font-style: italic;
			margin-bottom: 0;
			margin-right: 16px;

			@include breakpoint(jumper) {
				display: block;
			}
		}

		.selects {
			display: flex;
			flex: 1 1 0;
			max-width: 100%;
		}

		.select {
			flex: 1 1 auto;
			height: auto;
			min-width: 0;
			padding: 8px;
			width: 33.33334%;

			&:not(:last-of-type) {
				margin-right: 8px;
			}
		}
	}

	.article-arranger-count {
		flex: 1 1 0;

		.count {
			color: $color-text-light;
		}
	}

	.article-arranger-sort {
		display: none;
		flex: 0 0 auto;
		margin-left: auto;
		padding-left: 16px;

		@include breakpoint(runner) {
			display: block;
		}

		@include breakpoint(jumper) {
			padding-left: 24px;
		}

		.label {
			color: $color-text-light;
		}
	}
}

@at-root {
	.article-overviews {
		@include clearfix;
		margin: -12px -8px;

		@include breakpoint(crawler) {
			margin: -16px -12px;
		}

		&.article-overviews-full {

			.article-overview {
				width: 50%;

				&:nth-child(2n+1) {
					clear: both;
				}

				@include breakpoint(crawler) {
					width: 33.333333333%;

					&:nth-child(2n+1) {
						clear: none;
					}
		
					&:nth-child(3n+1) {
						clear: both;
					}
				}
			}
		}

		.article-overview {
			float: left;
			padding: 12px 8px;
			width: 50%;

			@include breakpoint(crawler) {
				padding: 16px 12px;
			}

			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}

	.article-overviews-loader {
		text-align: center;
	}

	.article-overview {
		position: relative;

		.link {
			text-decoration: none;

			&:hover,
			&:focus {

				.title {
					color: $color-one-600;
				}
			}
		}
	}

	.article-overview-thumbnail {
		margin-bottom: 8px;
		position: relative;

		.badge {
			@include font-size-300;
			background-color: $color-one-400;
			color: $white;
			font-weight: 700;
			left: 0;
			padding: 4px 8px;
			position: absolute;
			text-transform: uppercase;
			top: 16px;
		}
	}

	.article-overview-detail {
		color: $color-text;

		.categories {
			@include font-size-400;
			font-family: $display;
			margin-bottom: 2px;

			@include breakpoint(creeper) {
				@include font-size-500;
			}
		}

		.category {
			text-transform: uppercase;
		}

		.title {
			@include font-size-h6;
			margin-bottom: 4px;
			transition: all 0.2s ease;

			@include breakpoint(walker) {
				@include font-size-h5;
			}

			@include breakpoint(runner) {
				@include font-size-h4;
			}
		}
	}

	.article-overview-action {
		right: 12px;
		position: absolute;
		top: 16px;

		@include breakpoint(crawler) {
			right: 20px;
			top: 24px;
		}

		.action {
			background-color: $color-100;
			border-radius: 18px;
			display: block;
			height: 36px;
			padding: 8px;
			text-align: center;
			transition: all 0.2s ease;
			width: 36px;

			&.is-active {
				color: $color-two-500;

				&:hover,
				&:focus {
					color: $color-text-light;
				}
			}
		}

		.icon {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
}

@at-root {
	.article-widget {}

	.article-widget-items {

		.article-widget-item {

			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	.article-widget-item {

		.link {
			color: $color-text;
			display: flex;
			text-decoration: none;

			&:hover,
			&:focus {
				color: $color-one-600;
			}
		}

		.thumbnail {
			flex: 0 0 auto;
			height: 80px;
			margin-right: 16px;
			padding: 0;
			width: 80px;
		}

		.title {
			@include font-size-h5;
			margin-bottom: 4px;
			transition: all 0.2s ease;
		}
	}
}

@at-root {
	.article-guide {
		align-items: center;
		border-bottom: 1px solid $color-border;
		border-top: 1px solid $color-border;
		display: flex;
		padding: 8px 0;
	}

	.article-guide-label {
		color: $color-text-light;
		display: none;
		margin-bottom: 0;
		flex: 1 1 0;
		font-style: italic;
		padding-right: 16px;

		@include breakpoint(crawler) {
			display: block;
		}
	}

	.article-guide-items {
		align-items: center;
		display: flex;
		flex: 3 1 0;
	}

	.article-guide-item {
		@include font-size-400;
		flex: 1 1 0;

		@include breakpoint(crawler) {
			@include font-size-500;
		}

		&:not(:last-child) {
			border-right: 1px solid $color-border;
			margin-right: 8px;
			padding-right: 8px;
		}

		.label {
			color: $color-text-light;
			font-family: $display;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		.value {
			font-weight: 700;
		}
		
		.color {
			display: inline-table;
			background-color: #ffffff;
			border-radius: 12px;
			box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3);
			display: inline-block;
			height: 13px;
			width: 13px;
			position: relative;
		}
	}
}

@at-root {
	.article-post {

		@include breakpoint(crawler) {
			@include font-size-600;
		}
	}
}

@at-root {
	.article-related {}

	.article-related-head {
		border-bottom: 1px solid $color-border;
		margin-bottom: 24px;
		padding-bottom: 8px;

		.title {
			@include font-size-h2;
			color: $color-text-light;
			font-family: $display;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
}

@at-root {
	.article-vendor {
		border: 1px solid $color-border;
		margin: 8px auto 0;
		max-width: 480px;
		padding: 24px 16px 16px;
		position: relative;

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	.article-vendor-head {
		position: absolute;
		top: -12px;

		.title {
			background-color: $white;
			box-shadow: 4px 0 0 $white, -4px 0 0 $white;
			color: $color-text-light;
			display: inline-block;
			font-family: $display;
			font-weight: 400;
			text-transform: uppercase;
		}
	}

	.article-vendor-list {

		&:not(:last-child) {
			border-bottom: 1px solid $color-border;
			margin-bottom: 24px;
			padding-bottom: 24px;
		}

		.title {
			border-bottom: 2px solid $color-border-light;
			color: $color-text-light;
			display: inline-block;
			font-family: $display;
			font-weight: 400;
			margin-bottom: 12px;
			text-transform: uppercase;
		}

		.row {
			@include clearfix;
			@include font-size-400;

			&:not(:last-child) {
				margin-bottom: 8px;
			}

			.label {
				float: left;
				font-family: $display;
				font-weight: 400;
				margin-right: 8px;
				text-transform: uppercase;
				width: 120px;
			}

			.value {
				display: block;
				overflow: hidden;
			}
		}
	}
}
