@at-root {
	.article-archive-container {}

	.article-archive-header {
		margin-bottom: 24px;

		.title {
			font-weight: 400;
			font-family: $display;
			margin-bottom: 4px;
			text-transform: uppercase;
		}

		.subtitle {
			color: $color-text-light;
		}
	}

	.article-archive-footer {
		margin-top: 48px;
	}
}

@at-root {
	.article-search-container {}

	.article-search-header {

		.title {
			@include font-size-h2;

			font-weight: 400;
			margin-bottom: 0;

			.keyword {
				font-weight: 700;
			}
		}
	}

	.article-search-footer {
		margin-top: 32px;
	}
}

@at-root {
	.article-single-container {}

	.article-single-header {
		background-color: $white;
		margin-bottom: 24px;

		&.has-hero {

			@include breakpoint(runner) {
				box-shadow: 0 0 0 24px $white;
				margin-top: -128px;
			}
		}

		.title {
			margin-bottom: 8px;
		}

		.meta {
			color: $color-text-light;

			a {
				color: $color-text-light;
				font-weight: 700;
			}
		}
	}

	.article-single-content {
		align-items: flex-start;
		display: flex;
	}

	.article-single-footer {
		margin-top: 32px;
	}
}

@at-root {
	.article-submit-container {}

	.article-submit-header {
		display: block;
		margin-bottom: 32px;

		.title {
			font-weight: 400;
			text-transform: uppercase;
			font-family: $display;
			margin-bottom: 8px;
		}
	}
}

@at-root {
	.article-arranger {
		align-items: center;
		border-bottom: 1px solid $color-border;
		display: flex;
		margin-bottom: 24px;
		padding-bottom: 16px;
	}

	.article-arranger-filter {
		align-items: center;
		display: flex;
		flex: 1 1 0;

		.label {
			color: $color-text-light;
			flex: 0 0 auto;
			font-style: italic;
			margin-bottom: 0;
			margin-right: 16px;
		}

		.selects {
			display: flex;
			flex: 1 1 0;
		}

		.select {
			flex: 1 1 0;
			height: auto;
			padding: 8px;

			&:not(:last-child) {
				margin-right: 8px;
			}
		}
	}

	.article-arranger-count {
		flex: 1 1 0;

		.count {
			color: $color-text-light;
		}
	}

	.article-arranger-sort {
		flex: 0 0 auto;
		margin-left: auto;
		padding-left: 48px;

		.label {
			color: $color-text-light;
		}
	}
}

@at-root {
	.article-overviews {
		@include clearfix;
		margin: -8px;

		@include breakpoint(crawler) {
			margin: -12px;
		}

		&.article-overviews-trio {

			.article-overview {

				@include breakpoint(crawler) {
					width: 33.333333333%;
				}
			}
		}

		.article-overview {
			float: left;
			padding: 8px;
			width: 50%;

			@include breakpoint(crawler) {
				padding: 12px;
			}
		}
	}

	.article-overviews-loader {
		text-align: center;
	}

	.article-overview {

		.link {
			text-decoration: none;

			&:hover,
			&:focus {

				.title {
					color: $color-one-600;
				}
			}
		}
	}

	.article-overview-thumbnail {
		margin-bottom: 8px;
		position: relative;

		.badge {
			@include font-size-300;
			background-color: $color-one-400;
			color: $white;
			font-weight: 700;
			left: 0;
			padding: 4px 8px;
			position: absolute;
			text-transform: uppercase;
			top: 16px;
		}
	}

	.article-overview-detail {
		color: $color-text;

		.categories {
			@include font-size-400;
			font-family: $display;
			margin-bottom: 2px;

			@include breakpoint(creeper) {
				@include font-size-500;
			}
		}

		.category {
			text-transform: uppercase;
		}

		.title {
			@include font-size-h5;
			margin-bottom: 4px;
			transition: all 0.2s ease;

			@include breakpoint(runner) {
				@include font-size-h4;
			}
		}
	}
}

@at-root {
	.article-widget {}

	.article-widget-items {

		.article-widget-item {

			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	.article-widget-item {

		.link {
			color: $color-text;
			display: flex;
			text-decoration: none;

			&:hover,
			&:focus {
				color: $color-one-600;
			}
		}

		.thumbnail {
			flex: 0 0 auto;
			height: 80px;
			margin-right: 16px;
			padding: 0;
			width: 80px;
		}

		.title {
			@include font-size-h5;
			margin-bottom: 4px;
			transition: all 0.2s ease;
		}
	}
}

@at-root {
	.article-share {

		.share {
			background-color: $color-100;
			border: 1px solid $color-border;
			border-radius: 24px;
			color: $color-text-light;
			display: block;
			height: 40px;
			position: relative;
			text-align: center;
			width: 40px;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		.icon {
			height: 100%;
			padding: 8px;
			width: 100%;
		}

		.count {
			@include ellipsis;
			@include font-size-100;
			background-color: $color-two-500;
			border-radius: 10px;
			color: $white;
			height: 20px;
			left: 30px;
			line-height: 20px;
			margin-top: -10px;
			min-width: 20px;
			max-width: 32px;
			padding: 0 4px;
			position: absolute;
			text-align: center;
			top: 50%;
		}
	}
}

@at-root {
	.article-guide {
		align-items: center;
		border-bottom: 1px solid $color-border;
		border-top: 1px solid $color-border;
		display: flex;
		padding: 8px 0;
	}

	.article-guide-label {
		color: $color-text-light;
		margin-bottom: 0;
		margin-right: 32px;
		flex: 0 0 auto;
		font-style: italic;
	}

	.article-guide-items {
		align-items: center;
		display: flex;
		flex: 1 1 0;
	}

	.article-guide-item {
		flex: 1 1 0;

		&:not(:last-child) {
			margin-right: 16px;
		}

		.label {
			color: $color-text-light;
			font-family: $display;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		.value {
			font-weight: 700;
		}
	}
}

@at-root {
	.article-post {
		@include font-size-600;
	}
}

@at-root {
	.article-share {
		margin-left: 32px;
		position: sticky;
		top: 24px;
	}
}

@at-root {
	.article-related {}

	.article-related-head {
		border-bottom: 1px solid $color-border;
		margin-bottom: 24px;
		padding-bottom: 8px;

		.title {
			@include font-size-h2;
			color: $color-text-light;
			font-family: $display;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
}

@at-root {
	.article-vendor {
		border: 1px solid $color-border;
		padding: 24px 16px 16px;
		position: relative;
	}

	.article-vendor-head {
		position: absolute;
		top: -12px;

		.title {
			background-color: $white;
			box-shadow: 4px 0 0 $white, -4px 0 0 $white;
			color: $color-text-light;
			display: inline-block;
			font-family: $display;
			font-weight: 400;
			text-transform: uppercase;
		}
	}

	.article-vendor-list {

		&:not(:last-child) {
			border-bottom: 1px solid $color-border;
			margin-bottom: 24px;
			padding-bottom: 24px;
		}

		.title {
			border-bottom: 2px solid $color-border-light;
			color: $color-text-light;
			display: inline-block;
			font-family: $display;
			font-weight: 400;
			margin-bottom: 12px;
			text-transform: uppercase;
		}

		.row {
			@include clearfix;
			@include font-size-400;

			&:not(:last-child) {
				margin-bottom: 8px;
			}

			.label {
				float: left;
				font-family: $display;
				font-weight: 400;
				margin-right: 8px;
				text-transform: uppercase;
				width: 120px;
			}

			.value {
				display: block;
				overflow: hidden;
			}
		}
	}
}
