@at-root {
	.contact-page-container {
		position: relative;
		z-index: 1;
	}

	.contact-page-content {

		@include breakpoint(walker) {
			display: flex;
		}
	}
}

@at-root {
	.contact-info {
		color: $white;
		display: block;
		flex: 1 1 0;
		margin-bottom: 24px;
		width: 100%;

		@include breakpoint(walker) {
			margin-bottom: 48px;
			padding-right: 32px;
			width: 50%;
		}
	}

	.contact-info-head {
		margin-bottom: 12px;

		.title {
			font-weight: 400;
			font-family: $display;
			text-transform: uppercase;
		}
	}

	.contact-info-body {
		max-width: 400px;
	}
}

@at-root {
	.contact-form {
		flex: 0 0 auto;
		width: 100%;

		@include breakpoint(walker) {
			width: 50%;
		}
	}

	.contact_form {
		.form-action {
			display: block;
			width: 100%;
			position: relative;
			text-align: center;
			margin-bottom: 12px;

			.ajax-loader {
				display: block;
				margin: -27px auto 0;
				position: relative;
				z-index: 1;
			}
		}
	}

	.contact-form-box {
		display: block;
		float: right;
		width: 100%;
		padding: 20px 24px 24px;
		border-radius: 6px;
		background-color: #ffffff;

		@include breakpoint(runner) {
			max-width: 480px;
			padding: 28px 32px 32px;
		}

		.label {
			margin-bottom: 6px;
		}
	}
}

@at-root {
	div.wpcf7-response-output {
    margin: 2em 0 0;
	}
}
