@at-root {
	.event-archive-container {}

	.event-archive-header {
		margin-bottom: 32px;

		.title {
			@include font-size-900;
			font-family: $display;
			font-weight: 400;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.event-archive-footer {
		margin-top: 32px;
	}
}

@at-root {
	.event-columns {
		display: flex;
		flex-direction: column;
		width: 100%;

		@include breakpoint(runner) {
			flex-direction: row;
		}
	}

	.event-column {
		border: 1px solid $color-border;
		flex: 1 1 0;

		@include breakpoint(runner) {
			border: 0;
			border-left: 1px solid $color-border;
			margin-bottom: 0;
			padding: 0 8px;
			width: 14.28572%;
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		&.is-current {
			border-color: $color-two-200;

			.event-column-date {
				background-color: $color-two-100;

				.day,
				.date {
					color: $color-text;
				}
			}
		}
	}

	.event-column-date {
		background-color: $color-100;
		display: flex;
		padding: 2px 8px 2px 8px;
		margin-bottom: 4px;
		min-width: 96px;

		@include breakpoint(runner) {
			display: inline-block;
			margin-bottom: 32px;
			margin-left: -8px;
		}

		.day,
		.date {
			color: $color-text-light;
			font-family: $display;
			font-size: $font-size-600;
			line-height: 1.33334;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		.date {
			margin-left: 4px;

			@include breakpoint(runner) {
				@include font-size-500;
				margin-left: 0;
			}
		}
	}

	.event-column-body {
		padding: 8px;
	}
}

@at-root {
	.event-items {}

	.event-item {

		&:not(:last-child) {
			border-bottom: 1px solid $color-border;
			margin-bottom: 12px;
			padding-bottom: 12px;

			@include breakpoint(runner) {
				margin-bottom: 16px;
				padding-bottom: 16px;
			}
		}

		&.is-empty {

			.note {
				color: $color-text-light;
				font-family: $display;
				text-transform: uppercase;
			}
		}

		.link {
			text-decoration: none;

			&:hover,
			&:focus {

				.title {
					color: $color-one-600;
				}
			}
		}

		.category {
			@include font-size-300;
			background-color: $color-one-100;
			color: $color-text;
			display: inline-block;
			font-family: $display;
			margin-bottom: 8px;
			padding: 2px 4px;
			text-transform: uppercase;
		}

		.title {
			@include font-size-h6;
			color: $color-text;
			margin-bottom: 2px;
			transition: all 0.2s ease;
		}

		.more {
			@include font-size-300;
			color: $color-text-light;
		}
	}
}

@at-root {
	.event-pagination {
		display: flex;
		justify-content: space-between;

		.arrow {
			color: $color-text-light;
			flex: 0 0 auto;
			font-weight: 700;
			text-transform: uppercase;

			.icon {
				fill: $color-text-lighter;
			}
		}
	}
}
