@at-root {
	.event-archive-container {}

	.event-archive-header {
		margin-bottom: 32px;

		.title {
			@include font-size-900;
			font-family: $display;
			font-weight: 400;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.event-archive-footer {
		margin-top: 32px;
	}
}

@at-root {
	.event-columns {
		display: flex;
		width: 100%;
	}

	.event-column {
		border-left: 1px solid $color-two-200;
		flex: 1 1 auto;
		padding: 0 16px;
		width: 14.29%;
	}

	.event-column-date {
		background-color: $color-two-100;
		display: inline-block;
		padding: 0 16px 0 16px;
		margin-bottom: 32px;
		margin-left: -16px;
		min-width: 96px;

		&.is-current {
			background-color: $color-two-200;

			.day,
			.date {
				color: $color-text;
			}
		}

		.day,
		.date {
			color: $color-text-light;
			font-family: $display;
			font-size: $font-size-600;
			line-height: 1.33334;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		.date {
			@include font-size-500;
		}
	}
}

@at-root {
	.event-item {

		&:not(:last-child) {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid $color-two-200;
		}

		&.is-empty {

			.note {
				color: $color-text-light;
				font-family: $display;
				text-transform: uppercase;
			}
		}

		.category {
			@include font-size-300;
			background-color: $color-200;
			display: inline-block;
			font-family: $display;
			margin-bottom: 8px;
			padding: 2px 4px;
			text-transform: uppercase;
		}

		.title {
			@include font-size-h6;
			margin-bottom: 4px;
		}

		a {
			@include font-size-400;
		}
	}
}

@at-root {
	.event-pagination {
		display: flex;
		justify-content: space-between;

		.arrow {
			color: $color-text-light;
			flex: 0 0 auto;
			font-weight: 700;
			text-transform: uppercase;

			.icon {
				fill: $color-text-lighter;
			}
		}
	}
}
