@at-root {
  .missin-page-container {
    display: block;
    text-align: center;
  }

  .missing-page-header {
    color: $color-600;
    margin-bottom: 24px;

    .title {
      @include font-size-jumbo;
      font-family: $display;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    .subtitle {
      @include font-size-800;
      font-family: $display;
    }
  }

  .missing-page-content {
    p {
      @include font-size-400;
      color: $color-500;
    }
  }
}
