@at-root {
	.mobile-nav-is-toggled {

		.site-container {

			&:before {
				opacity: 0.5;
				visibility: visible;
				z-index: 10;

				@include breakpoint(runner) {
					display: none !important;
				}
			}
		}
	}

	.mobile-nav-is-untoggling {

		.site-container {

			&:before {
				opacity: 0;
				z-index: 10;
			}
		}
	}

	.mobile-nav {
		background-color: $white;
		display: none;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		transition: all 0.2s ease-out;
		transform: translateX(-100%);
		width: 240px;
		z-index: 11;

		@include breakpoint(runner) {
			display: none !important;
		}

		&.is-toggling,
		&.is-untoggling {
			display: block;
		}

		&.is-toggled {
			display: block;
			transform: translateX(0);
		}
	}

	.mobile-nav-bloc {
		padding: 16px;

		.legend {
			color: $color-text-light;
			font-family: $display;
			font-weight: 400;
			margin-bottom: 4px;
			text-transform: uppercase;
		}

		.item, .menu-item {
			border-bottom: 1px solid $color-border-light;

			&.item-current {

				> .link {
					color: $color-one-500;
				}
			}
		}

		.link {
			@include font-size-400;
			color: $color-text;
			display: block;
			font-weight: 700;
			letter-spacing: 0.01em;
			padding: 8px 0;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 0.2s ease;

			&:hover,
			&:focus {
				color: $color-one-600;
			}
		}
	}

	.mobile-nav-toggle {
		color: $color-text-light;
		display: block;
		height: 24px;
		left: 16px;
		margin-top: -12px;
		padding: 2px;
		position: absolute;
		top: 50%;
		width: 24px;

		@include breakpoint(creeper) {
			left: 24px;
		}

		@include breakpoint(crawler) {
			left: 32px;
		}

		@include breakpoint(runner) {
			display: none;
		}

		.icon {
			display: block;
			height: 100%;
			padding: 2px;
			width: 100%;
		}
	}
}
