
@at-root {
	.page-header {
		display: block;
		text-align: center;
		margin-bottom: 48px;
	
		.title {
			font-weight: 400;
			text-transform: uppercase;
		}
	}
}

@at-root {
	.page-content {
		padding-bottom: 32px;
	}
}

@at-root {
	.page-footer {
		
	}
}
