
@at-root {
	.page-single-header {
		display: block;
		text-align: center;
		margin-bottom: 32px;
	
		.title {
			font-weight: 400;
			text-transform: uppercase;
			font-family: $display;
			margin-bottom: 8px;
		}

		.subtitle {
			color: $color-500;
		}
	}
}

@at-root {
	.page-single-content {
		padding-bottom: 32px;
	}
}

@at-root {
	.page-single-footer {
		
	}
}
