@at-root {
	.review-single {

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	.review-single-title {
		margin-bottom: 4px;

		a {
			color: $color-text;
		}
	}

	.review-single-meta {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 8px;

		.rating {
			margin-right: 8px;
		}

		.author {
			font-weight: 700;
			margin-bottom: 0;
			margin-right: 8px;
		}

		.date {
			@include font-size-400;
			color: $color-text-light;
		}
	}
}
