@at-root {
  .slider-hero {
    background-color: lighten($color-one-100, 5%);
    background-image: url("assets/images/bg-stripe.png");
    position: relative;
    top: -1px;
    z-index: 9;

    .wrapper {
      @include clearfix;
    }
  }

  .slider-hero-slides {
    margin: 0 -16px;

    @include breakpoint(creeper) {
      margin: 0 -24px;
    }

    @include breakpoint(crawler) {
      margin: 0 -32px;
    }

    @include breakpoint(walker) {
      margin: 0;
    }
  }

  .slider-hero-slide {
    float: left;
    width: 100%;

    .link {
      display: block;
      position: relative;
      text-decoration: none;

      @include breakpoint(walker) {
        align-items: center;
        display: flex;
      }
    }

    .text {
      background-color: rgba($color-one-100, 0.8);
      bottom: 0;
      color: $color-text;
      padding: 8px 16px;
      position: absolute;
      width: 100%;

      @include breakpoint(crawler) {
        padding: 16px;
      }

      @include breakpoint(walker) {
        background-color: transparent;
        border: 2px solid $color-one-300;
        flex: 0 0 auto;
        margin: 32px 0;
        padding: 16px;
        position: relative;
        width: 33.333333333%;
      }

      @include breakpoint(runner) {
        padding: 16px 24px 24px;
      }

      .categories {
        margin-bottom: 4px;
      }

      .category {
        color: $color-one-600;
        font-family: $display;
        text-transform: uppercase;
      }

      .title {
        @include font-size-h5;
        margin-bottom: 4px;

        @include breakpoint(crawler) {
          @include font-size-h4;
        }

        @include breakpoint(runner) {
          @include font-size-h2;
        }
      }

      .subtitle {
        @include font-size-400;
        color: $color-text-light;
        display: none;

        @include breakpoint(runner) {
          display: block;
        }
      }
    }

    .image {
      flex: 0 1 auto;

      @include breakpoint(walker) {
        margin-left: 32px;
      }
    }
  }
}

@at-root {
	.slider-gallery {

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

	.slider-gallery-slide {
		background-color: $color-bg;
		border: 1px solid $color-border;

		.slide {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			position: relative;
			width: 100%;

			img {
				flex: 0 1 auto;
				max-height: 100%;
			}
		}
	}

	.slider-gallery-nav {
		@include clearfix;
		margin: 4px -4px;

		@include breakpoint(jumper) {
			margin: 8px -8px;
		}

		.bullet {
			float: left;
			padding: 4px;
      width: 25%;

      @include breakpoint(crawler) {
        width: 12.5%;
      }

			@include breakpoint(jumper) {
				padding: 8px;
			}

			&:before {
				content: "";
				box-shadow: inset 0 0 0 1px $color-border;
				bottom: 4px;
				left: 4px;
				position: absolute;
				right: 4px;
				top: 4px;
				transition: all 0.1s ease-out;

				@include breakpoint(jumper) {
					bottom: 8px;
					left: 8px;
					right: 8px;
					top: 8px;
				}
			}

			&.is-nav-selected {
				position: relative;

				&:before {
					box-shadow: inset 0 0 0 2px $color-border-dark;
				}
			}
		}
	}
}

@at-root {
  .slider-instagram {}

  .slider-instagram-head {
    margin-bottom: 24px;

    .title {
      @include font-size-700;
      color: $color-two-500;
      font-weight: 400;
      font-family: $display;
      text-align: center;
      text-transform: uppercase;
    }

    .icon {
      fill: $color-two-400;
      top: -2px;
    }
  }

  .slider-instagram-slide {
    float: left;
    max-width: 320px;
    width: 75%;

    img {
      width: 100%;
    }
  }
}
