@at-root {
	.social-login {
		display: flex;
		flex-wrap: wrap;
		margin: -4px;

		.button {
			flex: 1 1 0;
			margin: 4px;
			padding-bottom: 7px;
			padding-top: 7px;

			&.button-facebook {
				background-color: $color-facebook;
			}

			&.button-googleplus {
				background-color: $color-googleplus;
			}
		}
	}
}

@at-root {
	.social-share {
		margin-top: 24px;

		&.social-share-sticky {

			@include breakpoint(jumper) {
				margin-left: 32px;
				margin-top: 0;
				position: sticky;
				top: 24px;
			}

			.share {

				@include breakpoint(jumper) {
					display: block;
				}

				&:not(:last-child) {

					@include breakpoint(jumper) {
						margin-bottom: 8px;
						margin-right: 0;
					}
				}
			}

			.count {

				@include breakpoint(jumper) {
					bottom: auto;
					left: 30px;
					top: 10px;
				}
			}
		}

		.share {
			background-color: $color-100;
			border: 1px solid $color-border;
			border-radius: 24px;
			color: $color-text-light;
			display: inline-block;
			height: 40px;
			position: relative;
			text-align: center;
			transition: all 0.2s ease;
			width: 40px;

			&:not(:last-child) {
				margin-right: 4px;
			}

			&:hover,
			&:focus {
				background-color: $white;
				border-color: $color-border-dark;
				color: $color-one-500;

				&.share-love {
					color: $color-two-500;
				}

				&.share-facebook {
					color: $color-facebook;
				}

				&.share-twitter {
					color: $color-twitter;
				}

				&.share-googleplus {
					color: $color-googleplus;
				}

				&.share-pinterest {
					color: $color-pinterest;
				}
			}
		}

		.icon {
			height: 100%;
			padding: 8px;
			width: 100%;
		}

		.count {
			@include ellipsis;
			@include font-size-100;
			background-color: $color-two-500;
			border-radius: 10px;
			bottom: -10px;
			color: $white;
			height: 20px;
			left: 10px;
			line-height: 20px;
			min-width: 20px;
			max-width: 32px;
			padding: 0 4px;
			position: absolute;
			text-align: center;
		}
	}
}
