@at-root {
	.social-login {
		display: flex;
		flex-wrap: wrap;
		margin: -4px;

		.button {
			flex: 1 1 0;
			margin: 4px;
			padding-bottom: 7px;
			padding-top: 7px;

			&.button-facebook {
				background-color: $color-facebook;
			}

			&.button-googleplus {
				background-color: $color-googleplus;
			}
		}
	}
}

@at-root {
	.social-share {

		.list {
			display: flex;
		}

		.item {
			flex: 0 0 auto;

			&:not(:last-child) {
				margin-right: 8px;
			}

			a {
				color: $color-text;
			}
		}

		.icon {
			height: 20px;
			width: 20px;

			&.icon-facebook {
				fill: $color-facebook;
			}

			&.icon-twitter {
				fill: $color-twitter;
			}

			&.icon-googleplus {
				fill: $color-googleplus;
			}

			&.icon-pinterest {
				fill: $color-pinterest;
			}
		}
	}
}
