@at-root {
	.widget-single {

		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	.widget-single-head {
		border-bottom: 1px solid $color-border;
		margin-bottom: 16px;
		padding-bottom: 8px;

		.title {
			color: $color-text-light;
			font-family: $display;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
}
